<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.jbamberger.offlineclient">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="de.jbamberger.offlineclient.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="de.jbamberger.offlineclient.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.jbamberger.offlineclient.ui.jodel.JodelActivity"
            android:label="@string/title_activity_jodel"
            android:parentActivityName="de.jbamberger.offlineclient.ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.jbamberger.offlineclient.ui.main.MainActivity" />
        </activity>
        <activity
            android:name="de.jbamberger.offlineclient.ui.reddit.RedditActivity"
            android:label="@string/title_activity_reddit"
            android:parentActivityName="de.jbamberger.offlineclient.ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.jbamberger.offlineclient.ui.main.MainActivity" />
        </activity>
        <activity
            android:name="de.jbamberger.offlineclient.ui.hackernews.HackerNewsActivity"
            android:label="@string/title_activity_hacker_news"
            android:parentActivityName="de.jbamberger.offlineclient.ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.jbamberger.offlineclient.ui.main.MainActivity" />
        </activity>
        <activity
            android:name="de.jbamberger.offlineclient.ui.ninegag.NineGagActivity"
            android:label="@string/title_activity_nine_gag"
            android:parentActivityName="de.jbamberger.offlineclient.ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.jbamberger.offlineclient.ui.main.MainActivity" />
        </activity>
        <activity
            android:name="de.jbamberger.offlineclient.ui.twitter.TwitterActivity"
            android:label="@string/title_activity_twitter"
            android:parentActivityName="de.jbamberger.offlineclient.ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.jbamberger.offlineclient.ui.main.MainActivity" />
        </activity>
    </application>

</manifest>